@inherits PasswordGeneratorCodeBehind
@page "/password"

<PageTitle>Guid Generator</PageTitle>

<h1>Password Generator</h1>

<FluentStack Orientation="Orientation.Vertical">
    
    <FluentStack Orientation="Orientation.Vertical" Style="width: 50%;">
        <FluentNumberField Style="width: 100%;" @bind-Value="Length" Max="1000" Min="5">
            <FluentLabel>Length</FluentLabel>
        </FluentNumberField>
        
        <FluentStack Orientation="Orientation.Vertical" Style="width: 100%;">
            <FluentCheckbox @bind-Value="@Numbers" Label="Numbers"/>
            <FluentCheckbox @bind-Value="@Uppercase" Label="Uppercase"/>
            <FluentCheckbox @bind-Value="@Lowercase" Label="Lowercase"/>
            <FluentCheckbox @bind-Value="@Symbols" Label="Symbols"/>
        </FluentStack>

        <FluentButton IconStart="@(new Icons.Filled.Size16.Password())" @onclick="GeneratePassword">Generate</FluentButton>

        <FluentDivider Style="width: 100%;" Orientation="Orientation.Horizontal" Role="@DividerRole.Separator"/>

        @if (!string.IsNullOrWhiteSpace(Password))
        {
            <FluentTextField Style="width: 100%;" Size="40" @bind-Value="Password" ReadOnly="true">
                <FluentLabel>Password</FluentLabel>
            </FluentTextField>
            <FluentButton IconStart="@(new Icons.Regular.Size20.Clipboard())" 
                          Appearance="Appearance.Accent"
                          OnClick="@CopyToClipboard">
                Copy to Clipboard
            </FluentButton>
        }
    </FluentStack>
</FluentStack>